html * {
    margin: 0;
    padding: 0;
    font-family:arial,sans-serif;
    color:#222222;
}

body.failed {
    background-color: #d33024;
}

body.passed {
    background-color: #87af49;
}

#playsound {
    position:absolute;
    bottom:10;
    right:10;
}

li {
    list-style:none;
}

li.failure {
    font-family:arial,sans-serif;
    font-size:100px;
    font-variant:small-caps;
    font-weight:bold;
    text-align:center;
}

#content {
    padding-top: 50px;
}

.failedProject {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
}

.failedProject img {
    border:medium solid;
    display: inline;
    height:200px;
    margin: 30px 10px 2px 10px;
}

.failedProject .change {
    display: inline-block;
}

.failedProject .owner {
    font-size:2em;
    font-variant:small-caps;
    font-weight: bold;
}

.clearfix {
    clear: both;
}

