html * {
    margin: 0;
    padding: 0;
}

body.failed {
    background-color: #d33024;
}

body.passed {
    background-color: #87af49;
}

#playsound {
    position:absolute;
    bottom:10;
    right:10;
}

li {
    list-style:none;
}

li.failure {
    font-family:arial,sans-serif;
    font-size:100px;
    font-variant:small-caps;
    font-weight:bold;
    text-align:center;
}

#content {
    padding-top: 50px;
}